<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div th:if="${param.error}">
    <p class="error">아이디와 비밀번호를 전부 입력해주세요.</p>
</div>
<form th:action="@{/login}" method="post">
    <label for="id">Id:</label><br/>
    <input type="text" id="id" name="id" required/><br/>
    <label for="password">Password:</label><br/>
    <input type="password" id="password" name="password" required/><br/>
    <input type="submit" value="로그인"/>
</form>
</body>
</html>